

<section id="privacy">
    <div class="container">
        <div class="page-container">
            <article class="card">
                <h1>@ViewData["Title"]</h1>
                <p> When you use our services, you’re trusting us with your information. We understand this is a big responsibility and work hard to protect your information and put you in control.</p>
                <p>You can use our services in a variety of ways to manage your privacy. For example, you can sign up for a Google Account if you want to create and manage content like emails and photos, or see more relevant search results. And you can use many Google services when you’re signed out or without creating an account at all, like searching on Google or watching YouTube videos. You can also choose to browse the web in a private mode, like Chrome Incognito mode. And across our services, you can adjust your privacy settings to control what we collect and how your information is used.</p>
            </article>
            <aside class="card bg-primary">
                <h2>Join Our Club</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odit, id?</p>
                <a href="#" class="btn btn-dark btn-block">Join Now</a>
            </aside>
        </div>
    </div>
</section>

<p>Use this page to detail your site's privacy policy.</p>
